
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1489720568'); /* IE9*/
  src: url('../font/iconfont.eot?t=1489720568#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1489720568') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1489720568') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1489720568#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ai-article:before { content: "\e605"; }
.icon-zhinengtuiguang:before { content: "\e6df"; }
.icon-woyaotuiguang:before { content: "\e666"; }
.icon-tuiguangruanwen:before { content: "\e654"; }
.icon-tuiguang:before { content: "\e64e"; }
.icon-bticon01:before { content: "\e621"; }
.icon-image:before { content: "\e680"; }
.icon-img:before { content: "\e679"; }
.icon-tupian:before { content: "\e658"; }
.icon-wannianli-05:before { content: "\e63e"; }
.icon-fcstubiao25:before { content: "\e62b"; }
.icon-iconfontzhizuobiaozhun41:before { content: "\e619"; }
.icon-9:before { content: "\e60c"; }
.icon-icontool:before { content: "\e63e"; }
.icon-gongju:before { content: "\e609"; }
.icon-gongjuxiang:before { content: "\e607"; }
.icon-gongju1:before { content: "\e623"; }
.icon-xueyuanxuexiao:before { content: "\e656"; }
.icon-shangxueyuan:before { content: "\e601"; }
.icon-chaxun:before { content: "\e67d"; }
.icon-icon04:before { content: "\e608"; }
.icon-chaxun1:before { content: "\e61b"; }
.icon-huiyuanrenzheng:before { content: "\e61d"; }
.icon-huiyuanrenzheng1:before { content: "\e665"; }
.icon-credit:before { content: "\e64c"; }
.icon-jifen:before { content: "\e65b"; }
.icon-jifen1:before { content: "\e615"; }
.icon-qudao:before { content: "\e6c0"; }
