ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.tittle{
  width: 100%;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  background-color: #00adef;
  color:#fff ;
  font-weight: 800;
  font-size: .8rem;
  position: relative;
}
.tittle a{
   color: #fff;
   position: absolute;
   left: 1rem;
}
ul{
  padding-left: 2rem;
}
li{
  width: 80%;
  height: 2rem;
  background-color: #ddd;
  color: #000;
  font-size: .6rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 3px;
  position: relative;
}
li div{
  position: absolute;
  left:2.7rem;
  top:.6rem;
  border-radius: 50%;
  background-color: #fff;
  width: .8rem;
  height: .8rem;
  font-size: .6rem;
  font-weight: 800;
  color: #00adef;
  display: none;
}
li div span{
  position: absolute;
  top:-.55rem;
  left:.1rem;
}
.show{
  display: block;
}
.active{
  background-color: #00adef;
  color:#fff;

}
p .iconfont{
  color: #00adef;
  margin-right: .2rem;
}
.content-block .big{
  font-weight: 800;
}
